<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Stexo - Responsive Admin & Dashboard Template | Themesdesign</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <meta content="Themesdesign" name="author" />
    <link rel="shortcut icon" href="assets/backOffice/images/favicon.ico">

    <link href="assets/backOffice/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/backOffice/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="assets/backOffice/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/backOffice/css/style.css" rel="stylesheet" type="text/css">


</head>
<body>
<div class="accountbg"></div>
<div class="home-btn d-none d-sm-block">
    <a href="#" class="text-white"><i class="fas fa-home h2"></i></a>
</div>
<div class="wrapper-page">
    <div class="card card-pages shadow-none">

        <div class="card-body">
            <div class="text-center m-t-0 m-b-15">
                <a href="#" class="logo logo-admin"><img src="assets/backOffice/images/logo-dark.png" alt="" height="24"></a>
            </div>
            <h5 class="font-18 text-center">Sign in to continue</h5>

<form class="form-horizontal m-t-30" method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="form-group">
        <div class="col-12">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        </div>
    </div>
   {# <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    #}
    <div class="form-group">
        <div class="col-12">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

        </div>
    </div>


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="form-group">
        <div class="col-12">
            <div class="checkbox checkbox-primary">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1"> Remember me</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group text-center m-t-20">
        <div class="col-12">
            <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Log In</button>
        </div>
    </div>

    <div class="form-group row m-t-30 m-b-0">
        <div class="col-sm-7">
            <a href="pages-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
        </div>
        <div class="col-sm-5 text-right">
            <a href="pages-register.html" class="text-muted">Create an account</a>
        </div>
    </div>
</form>
        </div>

    </div>
</div>




<!-- jQuery  -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/metismenu.min.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>
<script src="assets/js/waves.min.js"></script>

<!-- App js -->
<script src="assets/js/app.js"></script>

</body>

</html>
