{% extends 'baseBackOffice.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Create new Category</h4>
                   </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="{{ path('category_index') }}">Back to list</a></li>

                    </ol>
                </div>
            </div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <form method="post">
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-2 col-form-label">Name of category</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="example-text-input" name="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Parent</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="parent">
                            <option selected disabled>choisir votre parent</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="text-center">
                    <button class="btn btn-primary waves-effect waves-light">Enregistrer</button>
                </div>
                </form>
            </div>
        </div>

    </div>
</div>
        </div></div>
{% endblock %}
