{% extends 'baseBackOffice.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}" class= "btn btn-primary">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}" class= "btn btn-info">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
