<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Stexo - Responsive Admin & Dashboard Template | Themesdesign</title>
    <meta content="Responsive admin theme build on top of Bootstrap 4" name="description" />
    <meta content="Themesdesign" name="author" />
    <link rel="shortcut icon" href="assets/backOffice/images/favicon.ico">

    {% block stylesheets %}
        <link href="{{ asset('assets/backOffice/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/backOffice/css/metismenu.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/backOffice/css/icons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/backOffice/css/style.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

</head>
<body>

{% include('elements/backOffice/header.html.twig')  %}

    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    {% block body %}{% endblock %}
                </div>
                <!-- end row -->
            </div>

        </div>
        <!-- end container-fluid -->
    </div>

{% include('elements/backOffice/footer.html.twig')  %}






{% block javascripts %}
    <!-- jQuery  -->
    <script src="{{ asset('assets/backOffice/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/backOffice/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/backOffice/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('assets/backOffice/js/waves.min.js') }}"></script>
    <script src="{{ asset('assets/backOffice/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
